/* style.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Light';
}

.logo img {
    height: 50px; /* Adjust the size of your logo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Dropdown Menu Styling */
.music-dropdown {
    position: relative;
}

.music-dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 240px;
    z-index: 1;
    left: 50%; /* Start the dropdown halfway across the 'Music' item */
    transform: translateX(-50%); /* Shift the dropdown back to the left by half of its own width */
}

.music-dropdown-content a {
    color: black; /* Adjust as needed */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
.music-dropdown:hover .music-dropdown-content {
    display: block;
}


/* Section Styling */
section {
    padding: 20px;
    min-height: 300px; /* Adjust based on content */
}

/* Add specific styles for each section here, like background colors or images */

/* Home Section */
.home-section {
    background-image: url('images/bck-clouds.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    text-align: center; /* Center-align content */
    padding-top: 20px; /* Adjust as needed */
    min-height: 100vh; /* Make it cover full viewport height */
}


.logo-container img {
    max-width: 900px; /* Adjust the size of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    padding-top: 50px;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0; /* Adjust spacing around the menu */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu ul li {
    margin: 0 50px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333; /* Adjust the text color as needed */
    font-size: 30px; /* Adjust the font size as needed */
}

@font-face {
    font-family: 'TheHellClub1-Regular';
    src: url('fonts/TheHellClub1-Regular.woff2') format('woff2');
}

.hellclub-font {
    font-family: 'TheHellClub1-Regular', sans-serif;
    font-weight: bolder;
}

.main-menu ul li a {
    font-family: 'TheHellClub1-Regular', sans-serif;
}

.face-overlay {
    position: inherit;
    z-index: 2; /* Ensures it's above the background */
}

.face-overlay img {
    width: 800px; /* Adjust the size as needed */
    height: auto;
}

/* Project Section */
.black-section {
    background-image: url('images/bck-black.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    text-align: center; /* Center-align content */
    padding-top: 20px; /* Adjust as needed */
    min-height: 100vh; /* Make it cover full viewport height */
}

.section-title {
    font-family: 'TheHellClub1-Regular', sans-serif; /* Your custom font */
    text-align: center; /* Center the title */
    /* margin-top: 20px; */
    margin: 30px;
    font-size: 4em; /* Adjust the font size as needed */
}

.white-title {
    color: white; /* White font color for certain sections */
}

.black-title {
    color: black; /* Black font color for the rest */
}

.contact-section {
    background-image: url('images/bck-faces.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    text-align: center; /* Center-align content */
    padding-top: 20px; /* Adjust as needed */
    min-height: 100vh; /* Make it cover full viewport height */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; /* Space between grid items */
    /* padding: 20px; */
    /* margin: 5%; */
    margin: 0 15%;
}

.grid-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    min-height: 200px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Remove any space below the image */
    opacity: 0.6;
    /* transition: opacity 0.3s ease; */
}

.title-overlay {
    position: absolute;
    top: 50%; /* Position it at the center vertically */
    left: 50%; /* Position it at the center horizontally */
    transform: translate(-50%, -50%); /* Adjust its position to truly center it */
    width: 100%; /* Make it span the entire width of the grid item */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    font-size: 2em;
    }
    
.video-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; 
    opacity: 0; 
    }

.grid-item:hover .title-overlay {
opacity: 0;
transition: opacity 0.3s ease;
}

.grid-item:hover img {
opacity: 1.0;
transition: opacity 0.3s ease;
}

.about-section {
    background-color: white; /* Plain white background */
    text-align: center; /* Center-align the content */
    padding: 20px; /* Add some padding */
    font-family: 'Futura Light', Arial, sans-serif;
}

.about-subsection {
    background-image: url('images/bck-clouds.jpg'); /* Your background image */
    margin: 20px auto;
    padding: 30px; 
    max-width: 800px;
    width: 100%;
    border-radius: 5px; /* Optional: rounded corners */
    font-size: 1.1em; /* Slightly larger font size for emphasis */
    font-style: italic; 
}

@font-face {
    font-family: 'Futura Light';
    src: url('fonts/futura-light.woff2') format('woff2');
}

.about-main-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
    font-family: 'Futura Light', Arial, sans-serif;
}

.about-main-content p {
    margin-bottom: 15px; /* Add space between paragraphs */
}

.about-main-content ul {
    list-style-type: disc; /* Style for bullet points */
    margin-left: 50px; /* Indent the list */
    margin-bottom: 15px; /* Space after the list */
}

.about-main-content li {
    margin-bottom: 0px; 
}

.about-main-content a {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Adds bold font weight */
}

.about-main-content strong {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .about-main-content {
        max-width: 90%; /* Adjust width for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
