/* style.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Adjust the size of your logo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Dropdown Menu Styling */
.music-dropdown {
    position: relative;
}

.music-dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 240px;
    z-index: 1;
    left: 50%; /* Start the dropdown halfway across the 'Music' item */
    transform: translateX(-50%); /* Shift the dropdown back to the left by half of its own width */
}

.music-dropdown-content a {
    color: black; /* Adjust as needed */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
.music-dropdown:hover .music-dropdown-content {
    display: block;
}


/* Section Styling */
section {
    padding: 20px;
    min-height: 300px; /* Adjust based on content */
}

/* Add specific styles for each section here, like background colors or images */

/* Home Section */
.home-section {
    background-image: url('images/bck-clouds.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    text-align: center; /* Center-align content */
    padding-top: 20px; /* Adjust as needed */
    min-height: 100vh; /* Make it cover full viewport height */
}


.logo-container img {
    max-width: 800px; /* Adjust the size of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    padding-top: 50px;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0; /* Adjust spacing around the menu */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu ul li {
    margin: 0 50px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333; /* Adjust the text color as needed */
    font-size: 24px; /* Adjust the font size as needed */
}

@font-face {
    font-family: 'TheHellClub1-Regular';
    src: url('fonts/TheHellClub1-Regular.woff2') format('woff2');
}

.main-menu ul li a {
    font-family: 'TheHellClub1-Regular', sans-serif;
    /* ... other styles ... */
}

.face-overlay {
    position: inherit;
    z-index: 2; /* Ensures it's above the background */
}

.face-overlay img {
    width: 800px; /* Adjust the size as needed */
    height: auto;
}
